<div class="footer-content">

  <h5><i class="fab fa-angular"></i> Angulando</h5>

  <div class="compliance-info">
    <ul>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Privacy Police</a></li>
      <li><a href="#">Security</a></li>
      <li><a href="#">Sitemap</a></li>
    </ul>
  </div>

  <div class="social-media">
    <ul>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>

  <div class="copyright">
    <p><strong>© 2024 Angulando</strong> - All rights reserved</p>
  </div>

</div>
