.container__big-card {
  /*border: 2px solid white;*/
  width: 450px;
  height: 530px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.big-card__date {
  color: gray;
  font-weight: 300;
  margin-left: 10px;
}

.big-card__title > h1 > a {
  margin-top: 15px;
  margin-left: 10px;
  font-size: 20px;

}

.big-card__description {
  padding: 10px;
}

.big-card__description > p > a {
  margin-top: 10px;
  color: gray;
}

.big-card__picture > img {
  width: 450px;
  min-width: 450px;
  padding: 0 10px;
}
