.container__menu-title {
  color: #FFF;
}

.container__menu-title > h1 {
  margin: 10px 5px;
  font-size: 185px;
  font-weight: bolder;
  font-family: 'segoe UI';
  display: flex;
  justify-content: center;
}

.container__menu-title > hr {
  margin: 20px 0 5px 0;
}
