header, .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #111111;
  color: #fff;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
}
