* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #030303;
}

.container__content {
  border: 2px solid black;
  width: 100%;
  height: 100vh;
  background-color: #ECECEC;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.content__title {
  margin-top: 30px;
}

.content__cover {
  min-width: 500px;
  width: 500px;
}

.content__cover > img {
  min-width: 500px;
  width: 500px;
}

.rule  {
  margin-top: 30px;
  width: 50%;
}

.content__description > p {
  color: rgb(70, 68, 68);
  margin-top: 20px;
}

.content__area {
  max-width: 1203px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 25px;
  height: 100%;
  background-color: white;
}

.content__area > a {
  margin-top: 20px;
}

.content__area > a > i {
  font-size: 24px;
}
